@import url('https://fonts.googleapis.com/css2?family=Arima&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Roboto:wght@400;700&display=swap');

:root {
    --highlight-color: rgb(160, 200, 160);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    background: rgb(255, 255, 255);
}

header {
    display: flex;
    height: 150px;
    align-items: center;
    box-shadow: 0 0 3px 1px black;
    padding: 0 25px;
    background: var(--highlight-color);
}

header > button {
    margin: 0 3vw;
    background: none;
    border: none;
    font-size: 20px;
}

#restaurant-name {
    font-size: 48px;
    font-family: 'Edu VIC WA NT Beginner', sans-serif;
    font-weight: 600;
    margin-right: auto;
}

#main-content {
    position: relative;
}

#main-food-image {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: -1;
}

.motto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    width: fit-content;
    font-family: 'Arima', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 50px;
}

#menu-container {
    display: flex;
    justify-content: center;
    width: inherit;
    padding: 10vh 0;
}

#menu {
    background: var(--highlight-color);
    height: 200px;
    width: 50vw;
    border-radius: 10px;
    display: grid;
    padding: 3vh 3vw;
}

.title, .section-heading {
    font-weight: bold;
    text-align: center;
}

.title {
    font-size: 30px;
    margin: 0 0 3vh 0;
}

.section-heading {
    font-size: 20px;
    margin: 1vh 0;
}

.dish-container {
    display: grid;
    grid-template: 1.5rem 1fr / 1fr 1fr;
    grid-template-areas: "name price"
                         "description description"
}

.dish-name {
    grid-area: name;
}   

.dish-price {
    grid-area: price;
    text-align: right;
}

.dish-description {
    grid-area: description;
    font-style: italic;
    font-size: 15px;
}